<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find scuttle_navigation)/maps/map.yaml"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="is_physical" default="true"/>

  <!-- Map server -->
  <!--
  <group unless="$(arg is_physical)">
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <include file="$(find scuttle_navigation)/launch/amcl.launch"/>
  </group>
  -->

  <!-- move_base -->
  <include file="$(find scuttle_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>
